<footer class="footer-1 footer_back" id="footer">
    <div class="vd_bottom <?php if (isset($bottom_extra_class)) echo ($bottom_extra_class); ?>">
        <div class="container">
            <div class="row">
                <div class=" col-xs-12">
                    <div class="copyright">
                    2020 &copy;
                    <a target="_blank" href="http://www.test.com">squelette  SF4</a><span style="float: right; margin-right: 60px">Version : 1.0.0</span>
                    </div>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div>
</footer>