{% extends 'superadmin/base_superadmin.html.twig' %}

{% block content %}
    <div class="container-fluid">                             
        <img src="data:image/png;base64, {{ pv_plus_de_rectte }}" />
    </div>                 
{% endblock %}
